@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #283847;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
    background: #292C35;
    color: #ffffff;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.toggle{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.logo{
    font-family: cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.1em;

}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    margin-left: 50px;
    margin-right: 100px;
}
.content p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1em;
    height: 57px;
    width: 369px;
}
.explore{
    height: 48px;
    width: 226px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #283847;
    color: #283847;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;

}

.explore:hover{
    background-color: #283847;
    color: #283847;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.explore-img{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {	
    background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #283847;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #283847;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
    display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #283847;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #283847;
	box-shadow: 0 9px 12px -9px #283847;
}

.floating-btn {
    border-radius: 26.5px;
	background-color:#283847;
	border: 1px solid #283847;
	box-shadow: 0 16px 22px -17px #283847;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #283847;
    border: 1px solid #283847;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #283847;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
    color: #283847;
	text-decoration: none;
}

.explore-list{
    list-style: none;
    color: #283847;
    margin: 40px auto;
}
.explore-list li {
    color: #283847;
}
li a{
    text-decoration: none;
    color: #283847;
}

.explore-list li a:hover{
    text-decoration: none;
    color: #283847;
}

.btn-primary{
    background-color: #283847 !important;
    color: #ffffff !important;
    border: none !important;
}

.explore-img .mee{
    width: 100px;
    height: 100px;
}
.me{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 40px;
}
@media  only screen and (max-width: 600px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
    }
    
    .toggle{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 20px;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;
      width: 80%;
      margin-top: 10px;
    }
    .me{
        order: 1;
    }

    .explore-list{
        margin: 20px auto;
    }

}